html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #0F0F0F;
    overflow-x: hidden;
    min-height: 100vh;
}

.layout-row {
    min-height: 100vh;
}

footer {
    height: 100px;
    text-align: center;
}

/*sidebar section*/

.sidebar {
    background-color: #262626;
}

.sidebar-elements {
    position: fixed;
    padding-top: 50px;
}

.sidebar-elements ul {
    list-style-type: none;
}

.sidebar-elements li a {
    color: white;
    width: 100%;
    margin: auto;
    font-size: 1vw;
}

@media (max-width: 768px) {

    .sidebar {
        height: 150px;
    }

    .sidebar-elements {
        position: relative;
        padding-top: 0px;
    }

        .sidebar-elements li {
            float: left;
        }

            .sidebar-elements li a {
                color: white;
                width: 100%;
                margin: auto;
                font-size: 10px;
            }
}

/*content-container section*/

.content-container {
}

@media (max-width: 576px) {

    .content-container {
    }
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}
>>>>>>> features
=======
}
>>>>>>> features
=======
}
>>>>>>> features
=======
}
>>>>>>> features
