html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0F0F0F;
    overflow-x: hidden;
}

#welcome {
    background-image: url("../images/background3.jpg");
    background-position: center;
}

#portfolio {
    background-color: black;
}

.project-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.projects-box {
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
}

.navbar-solid {
    background-color: #0F0F0F;
}

.nav-item .nav-link {
    color: #fff;
}

.nav-item:hover .nav-link {
    color: #adadad;
}

/*.palette-bg-dark {
    background-color: #0F0F0F;
}

.palette-bg-ldark {
    background-color: #232D3F;
}

.palette-bg-green {
    background-color: #005B41;
}

.palette-bg-lgreen {
    background-color: #008170;
}*/