html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #0F0F0F;
    overflow-x: hidden;
}

#welcome {
    background-image: url("../images/background3.jpg");
    background-position: center;
}

#portfolio {
    background-color: #151a1c;
}

.portfolio-container
{
    padding-top: 10%;
    padding-bottom: 10%;
}

.project-box {
    background-color: #1E2427;
    position: relative;
    overflow: hidden;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease, backdrop-filter 0.3s ease;
    backdrop-filter: blur(10px);
}

.project-box-cover {
    background-color: white;
}

.project-box:hover .cover {
    opacity: 1;
}

#about {
    background-color: #151a1c;
}

.project-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.about-box {
    padding-right: 20%;
    padding-left: 20%;
}

.navbar-solid {
    background-color: #0F0F0F;
}

.nav-item .nav-link {
    color: #fff;
}

.nav-item:hover .nav-link {
    color: #adadad;
}

.logo-text {
    border-right: 2px solid white;
    padding-right: 38px;
}

.socrates-img {
    width: auto;
    height: 95%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.section-header {
    width: 100%;
    height: 100px;
    padding: 30px;
}

@media (max-width: 575.98px) {
    .header-socrates {
        font-size: 22px;
    }

    .socrates-img {
        height: 75%;
    }

    .logo-text {
        border-right: 0px;
        padding-right: 0px;
    }
}

/*.palette-bg-dark {
    background-color: #0F0F0F;
}

.palette-bg-ldark {
    background-color: #232D3F;
}

.palette-bg-green {
    background-color: #005B41;
}

.palette-bg-lgreen {
    background-color: #008170;
}*/