@model Contact
<link rel="stylesheet" href="~/css/admin/datails.css" />

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">@(Model.Id != 0 ? "Edytowanie" : "Dodawanie") kontaktów</h1>
                    <form method="post" enctype="multipart/form-data">
                        <input asp-for="Id" hidden />
                        <div class="form-group mb-4">
                            <label class="text-white">Nazwa</label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label class="text-white">Zawartość</label>
                            <input asp-for="Content" class="form-control" />
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label class="text-white">Adres</label>
                            <input asp-for="UrlAddress" class="form-control">
                            <span asp-validation-for="UrlAddress" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-3">
                            <label class="text-white">
                                Ikona z
                                <a class="text-body" href="https://icons.getbootstrap.com/" target="_blank">icons.getbootstrap.com</a>
                                </label>
                            <input asp-for="Icon" class="form-control border-0 shadow" />
                        </div>
                        <div class="row">
                            @if(Model.Id != 0 )
                            {
                                <button type="submit" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">Edytuj</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">Dodaj</button>
                            }
                            <a asp-controller="Contacts" asp-action="Index" class="btn btn-outline-dark mb-2 col-12 col-md-6 col-lg-3">Wróc</a>
                        </div>
                    </form>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>
    </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}