@model NavbarLogo
<link rel="stylesheet" href="~/css/admin/datails.css" asp-append-version="true" />/>

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">Nagłowek menu nawigacji</h1>

                <div class="detail-box">
                    <h5>Treść</h5>
                    @{
                        if (Model.Title != null)
                        {
                            string title = Model.Title.Replace("\r\n", "<br />");
                            @Html.Raw(title)
                        }
                    }
                </div>

                <div class="detail-box">
                    <h5>Obrazek</h5>
                    @{
                        if(Model.ImageUrl != null)
                        {
                            <img class="project-img" src="../../../@Model.ImageUrl"></img>
                        }
                        else
                        {
                            <p>brak</p>
                        }
                    }
                </div>

                <a asp-controller="NavbarLogo" asp-action="Edit" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">Edytuj</a>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>
    </div>
</section>