@model EmailSettings

<style>
    #box {
        padding-top: 10%;
        margin-bottom: 10%;
    }

    #box th {
        background-color: #1E2427;
        color: white;
    }

    #box td {
        background-color: #151a1c;
        color: white;
        border-bottom: 1px solid #1E2427;
    }

    .box {
        background-color: #151a1c;
    }


</style>

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">Edytowanie - Formularz Kontaktowy</h1>
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group mb-4">
                            <label for="exampleFormControlInput1" class="text-white">Email</label>
                            <input asp-for="Email" class="form-control">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label for="exampleFormControlInput1" class="text-white">Hasło</label>
                            <input asp-for="Password" class="form-control">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label for="exampleFormControlInput1" class="text-white">Serwer SMTP</label>
                            <input asp-for="SmtpServer" class="form-control">
                            <span asp-validation-for="SmtpServer" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label for="exampleFormControlInput1" class="text-white">Port SMTP</label>
                            <input asp-for="SmtpPort" class="form-control">
                            <span asp-validation-for="SmtpPort" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                        <input asp-for="EnableSsl" class="form-check-input" type="checkbox">
                        <label class="form-check-label">
                            StartTLS
                        </label>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">Edytuj</button>
                            <a asp-controller="ContactForm" asp-action="Index" class="btn btn-outline-dark mb-2 col-12 col-md-6 col-lg-3">Wróc</a>
                        </div>
                    </form>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>
    </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}