#box {
    padding-top: 10%;
    margin-bottom: 10%;
}

    #box th {
        background-color: #1E2427;
        color: white;
    }

    #box td {
        background-color: #151a1c;
        color: white;
        border-bottom: 1px solid #1E2427;
    }

.box {
    background-color: #151a1c;
}

.detail-box {
    margin-bottom: 30px;
}

    .detail-box h5 {
        color: white;
    }

.project-img {
    height: 200px;
    width: 200px;
}
