@{
    ViewData["Title"] = "Home Page";
}

<section id="about">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 400px;">
        <div class="text-center">
            <img class="about-image mb-3" src="images/photo.jpg"></img>
            <h1 class="text-white">Radosław Smoroński</h1>
            <p class="text-white">Lorem Ipsum, fdfsdfsdfsdfsdfs f sfs fsd f sfsdf </p>
        </div>
    </div>
</section>
