@{
    ViewData["Title"] = "Home Page";
}

<section id="welcome" class="mu-5" style="min-height: 400px;">
    <div class="row" style="height: 100vh;">
        <div class="col-lg-6 col-md-6 col-5 d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-3"></div>
                <div class="col-lg-9 col-md-9 col-9">
                    <h1 class="text-white header-socrates">Mądrość polega na tym, że wiem, że nic nie wiem.</h1>
                    <p class="text-right text-white">~ Sokrates</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-7 d-flex justify-content-end position-relative">
            <img src="~/images/socrates2.png" class="img-fluid socrates-img" />
        </div>
    </div> 
</section>

<section id="about" style="min-height: 465px;">
    <div class="section-header" style="background-color: #1E2427;">
        <h1 class="text-white">
            O mnie
        </h1>
    </div>
    <div class="container about-box">
        <div class="row mb-5 mt-5 d-flex align-items-center justify-content-center">
            <div class="col-lg-5 order-lg-2 col-md-12 text-center align-self-center pb-2 pt-2">
                <img class="project-image" src="images/photo.jpg"></img>
            </div>
            <div class="col-lg-7 order-lg-1 col-md-12 d-flex align-items-center justify-content-center pb-2 pt-2">
                <div>
                    <h3 class="text-center text-white">Radosław Smoroński</h3>
                    <p class="text-center">Jestem studentem Wyższej Szkoły Ekonomii i Informatyki w Krakowie, gdzie studiuję informatykę stosowaną. Od zawsze pasjonuję się technologiami i programowaniem, dlatego też moim celem jest zostanie programistą .NET.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="section-header" style="background-color: #1E2427;">
        <h1 class="text-white">
            Portfoltio
        </h1>
    </div>
    <div class="portfolio-container">
        <div class="container">
            <div class="row">
                @for (int i = 0; i <= 2; i++)
                {
                    <div class="col-lg-4 px-5 pb-5">
                        <div class="project-box text-center">
                            <img src="~/images/project-img.png" style="width: 100%; height: auto" />
                            <div class="text-white pb-1 m-3" style="font-size: 25px;">CMDGameEngine</div>
                            <div class="cover text-center">
                                <div class="text-white pb-3 m-3" style="font-size: 25px;">CMDGameEngine</div>
                                <p class="text-white m-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer gravida felis in ultrices molestie.</p>
                                <a class="btn btn-dark" href="git" style="position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);">
                                    <i class="bi bi-github text-white" style="font-size: 35px;"></i> <br> Repozytorium
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>


@* <section id="portfolio">
    <h1 class="portfolio-header text-white text-center m-4">
        PORTFOLIO
    </h1>
    <div class="container projects-box">
        @for(int i = 0; i <=3; i++)
        {
        <div class="row mb-5 mt-5">
                <div class="col-lg-6 @(i % 2 == 0 ? "order-lg-2" : "order-lg-1") col-md-12 text-center align-self-center">
                <img class="project-image" src="images/photo.jpg"></img>
            </div>
                <div class="col-lg-6 @(i % 2 == 0 ? "order-lg-1" : "order-lg-2") col-md-12 d-flex align-items-center justify-content-center">
                <div>
                    <h3 class="text-center text-white">Tytuł</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod elit id libero faucibus euismod. Donec convallis urna nibh, sit amet tincidunt quam congue vel. Praesent aliquam erat nisi, sit amet congue mauris pharetra semper. Sed vestibulum eros vel gravida blandit. Mauris nec sagittis nunc.</p>
                </div>
            </div>
        </div>
        }
    </div>
</section> *@
