@model Project

<style>
    #box {
        padding-top: 10%;
        margin-bottom: 10%;
    }

    #box th {
        background-color: #1E2427;
        color: white;
    }

    #box td {
        background-color: #151a1c;
        color: white;
        border-bottom: 1px solid #1E2427;
    }

    .box {
        background-color: #151a1c;
    }

    .detail-box {
        margin-bottom: 30px;
    }

    .detail-box h5 {
        color: white;
    }

    .project-img {
        height: 200px;
        width: 200px;
    }


</style>

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">Szczegóły projektu</h1>

                <div class="detail-box">
                    <h5>Nazwa Projektu</h5>
                    @Model.Name
                </div>

                <div class="detail-box">
                    <h5>Opis</h5>
                    @Model.Description
                </div>

                <div class="detail-box">
                    <h5>Git repository</h5>
                    @Model.GitRepositoryUrl
                </div>

                <div class="detail-box">
                    <h5>Obrazek</h5>
                    <img class="project-img" src="../../../@(Model.ImageUrl != null ? Model.ImageUrl : @"\images\projects\default-project.png")"></img>
                </div>

                <a asp-controller="Projects" asp-action="Index" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">Wróc</a>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>
    </div>
</section>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}