<link rel="stylesheet" href="~/css/admin/datails.css" />

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <div class="detail-box">
                    <h3 class="text-white">Portfolio Website Project</h3>
                    <p>by Radosław Smoroński</p>
                </div>

                <div class="detail-box">
                    <h5>Wersja</h5>
                    <p>W trakcie produkcji</p>
                </div>            
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>
    </div>
</section>
