<link rel="stylesheet" href="~/css/admin/datails.css" asp-append-version="true" />

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-0 col-lg-3 col-md-2"></div>
            <div class="col-12 col-lg-6 col-md-8 box p-5">
                <div class="detail-box">
                    <h3 class="text-white">@Localizer["Title"]</h3>
                    <p>@Localizer["By"]</p>
                </div>

                <div class="detail-box">
                    <h5>@Localizer["VersionTitle"]</h5>
                    <p>@Localizer["Version"]</p>
                </div>            
            </div>
            <div class="col-0 col-lg-3 col-md-2"></div>
        </div>
    </div>
</section>