@model EditAdminLogin
<link rel="stylesheet" href="~/css/admin/datails.css" />

<section id="box">
    <div class="container">
        <div class="row">
            <div class="col-1 col-lg-3 col-md-2"></div>
            <div class="col-10 col-lg-6 col-md-8 box p-5">
                <h1 class="text-white text-center mb-5">Edytowanie - Hasło do panelu administratora</h1>
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group mb-4">
                            <label class="text-white">Aktualne hasło</label>
                            <input asp-for="Password" type="password" class="form-control"></input>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label class="text-white">Nowe hasło</label>
                            <input asp-for="NewPassword" type="password" class="form-control"></input>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group mb-4">
                            <label class="text-white">Powtórz nowe hasło</label>
                            <input asp-for="ConfrimNewPassword" type="password" class="form-control"></input>
                            <span asp-validation-for="ConfrimNewPassword" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <button type="submit" class="btn btn-dark mb-2 col-12 col-md-6 col-lg-3">Edytuj</button>
                            <a asp-controller="General" asp-action="Index" class="btn btn-outline-dark mb-2 col-12 col-md-6 col-lg-3">Wróc</a>
                        </div>
                    </form>
            </div>
            <div class="col-1 col-lg-3 col-md-2"></div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}